{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="bg-blue-500 text-2xl text-center font-bold">Default variables</h1>

    <p><b>_self:</b> {{_self}}</p>
    <p><b>_charset:</b> {{_charset}}</p>
    <p><b>author (specified in twig.yaml):</b> {{author}}</p>


{% endblock %}